body{

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 10%, rgba(109, 199, 159, 0.86) 39%, rgba(237, 221, 83, 1) 100%);
    
}

.container form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    padding-left: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: #3F5EFB;
background: linear-gradient(14deg, rgba(63, 94, 251, 1) 41%, rgba(235, 127, 148, 0.67) 82%);
}

form input{
    height: 60px;
    width: 60px;
    margin: 10px 10px;
    box-shadow: blue 0px 5px 5px , red 0px 5px 15px;
    border-radius: 10px;
    font-size: 20px;
}
::placeholder{
    text-align: center;
    font-size: 15px;

}

form .display{
    display: flex;
    width: 400px;
    
}

form .display input{
    display: flex;
    text-align: right;
    width: 320px;
    height: 60px;
    margin: 10px 0px;
    box-shadow: none;
    border-radius: 10px;
    font-size: 40px;
}

form input.equal{
    width: 140px;
    
}